.bodyContainer {
  margin-left: 10%;
  margin-right: 10%;
}

.titleContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
}

.cardRow1 {
  max-height: 18rem;
}

.cardRow2 {
  max-height: 18rem;
}

.card {
  margin: 0 2% 3% !important;
  height: 100%;
}
