.navigationContainer {
  background-color: black;
  padding: 1rem 10% 1rem 10%;
  box-shadow: 0 10px 6px -6px #282828;
  z-index: 4;
  position: relative;
}

.navigationContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 3rem;
}

h1 {
  color: white;
}
